<% content_for :head do %>
    <%= javascript_include_tag 'comments' %>
<% end %>

<span class="smallHeader" id="nComment">Ny kommentar</span>
<br/><br id="commentBreak"/>
<% if current_user %>
<%= render 'comments/form' %>
<% else %>
<%= render 'comments/new_user_form' %>
<% end %>
