        if ('.error'){
            $('.error').remove();
        }

         $("<div>Något blev fel med din sökning, vänligen försök igen!</div>").attr("class","error").appendTo('#instructionsOptionsB');