<p>Hej <%= @resource.email %>!</p>

<p>Någon har begärt att återställa ditt lösenord, du kan göra detta genom att gå vidare med att klicka på länken nedan.</p>

<p><%= link_to 'Ändra mitt lösenord', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>


<p>Om det inte var du som begärde återställningen av ditt lösenord, kan du bortse från detta mail. Ditt lösenord kommer inte att ändras förrän du klickar på länken ovan och ändrar ditt lösenord.</p>
