<% content_for :head do %>
  <%= javascript_include_tag 'finder' %>
<% end %>


<span id="categoriesSpan"><%= collection_select('category', 'id',  @categories,  :id, :name,
                      {:prompt   => "Select a category"} )%></span>
<span id="productsSpan"></span>
<span id="sizesSpan"></span>
<br/>