$('.tipActivated').html('');

        $('.tipActivated').append('<div style="text-align: center; margin: 20px;"><span class="success">Du har angivit rätt uppgifter, loggar in dig...</span><br/><br/><img src="/images/layout/white_loader.gif" alt="Loggar in dig"></div>');
        var loggedIn = $('#loggedIn');
        loggedIn.remove();
        var userNav = $('#userNav');
        $(userNav).append("<%= escape_javascript(render 'layouts/logged_in') %>");

        setTimeout(function() {
            location.reload();
        }, 1000);