<footer>
  <div id="ftop"></div>
  <div class="wrapper">
    <div>
      <img src="/images/layout/mannstedt_marketing.png" alt="Mannstedt Marketing" style="padding-bottom: 5px; border-bottom: 1px dotted #3cf;">
      <a href="http://sv.wikipedia.org/wiki/HTML5" target="_blank"><img src="/images/layout/HTML5_Badge_32.png" alt="This site is developed with HTML 5!" style="float: right;"/></a>
      <a href="http://rubyonrails.org/" target="_blank"><img src="/images/layout/ROR-Logo-32.png" alt="This site is developed on Ruby on Rails!" style="float: right; padding-right: 20px;"/></a>

      <div class="clearBoth"></div>
    </div>


  </div>
</footer>

<div id="popup">
  <a id="popupClose">x</a>
  <div id="popupContent"></div>

</div>

<div id="backgroundPopup"></div>